# generated pages
# root en-US
src/content/docs/lines/
src/content/docs/core-stations/
src/content/docs/suburb-stations/
src/content/docs/resources/
# localized folders
src/content/docs/*/lines/
src/content/docs/*/core-stations/
src/content/docs/*/suburb-stations/
src/content/docs/*/resources/
# translation cache and temporary translation folder
.json-autotranslate-cache
src/data/locales/

# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
scripts/.method-checksums.json

# Cloudflare wrangler preview files
.wrangler
.dev.vars*