---
import initCanvasCreator from '../scripts/init-canvascreator.js?url';

interface Props {
  canvasId: string;
}

const { canvasId } = Astro.props as Props;
---

<div id={canvasId}></div>
<script
  type="module"
  src={initCanvasCreator}
  data-canvas-id={canvasId}
  client:load
></script>
