---
interface Props {
  canvasId: string;
}

const { canvasId } = Astro.props as Props;
---

<div id={canvasId}></div>
<script define:vars={{ canvasId }} type="module" client:load>
  import canvascreator from 'canvascreator';
  canvascreator.initialize({ canvasId });
</script>
