---
import PartnerCard from './PartnerCard.astro';
interface Partner {
  title: string;
  href: string;
  logo: string;
  description: string;
}
interface Props {
  partners: Partner[];
}
const { partners } = Astro.props as Props;
---

<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
  {partners.map(partner => (
    <PartnerCard {...partner} />
  ))}
</div>
